.nav {
  height: 100vh;
  position: fixed;
  display: flex;
  width: 15%;
  flex-direction: column;
  background-color: #c0392b;
  border-right: 1px solid#e74c3c;
  float: left;
}

.logo {
  margin: 1rem
}

.nav__line {
  margin: 0 1rem;
  text-align: center;
  color: #fff;
}

.nav-links {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
}

.nav-link li {
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
}

.nav-link li:hover {
  color: #f4f4f4;
  background-color: #e74c3c;
  border-color: #adadad;
} 

.active {
  color: #f4f4f4;
  background-color: #e74c3c;
  border-color: #adadad;
} 

.nav-link:visited {
  color: unset;
}