
.button {
    background: white;
    padding: 14px 20px;
    margin: 1rem auto;
    border-radius: 10px;
    width: 95%;
    height: 3rem;
    overflow: hidden;
    text-align : center;
    text-decoration: none;
    transition : .2s;
    cursor : pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -85px;
    padding-top: 2px;
    background : black;
    left : -250px;
    transition : .3s;
    border-radius: 10px;
    text-decoration: none;
  }
  .btnText {
    color : black;
    transition : .3s;
    text-decoration: none;

  }
  .btnText2 {
    margin-top : 63px;
    margin-right : -130px;
    color : white;
    text-decoration: none;
  }
  .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -115px;
    
  }
  .button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 90px;
  }
  .button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }
  
  @media screen and (max-width: 820px) {
   
    .button {
      width: 12rem;
    }

    .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
        left: -150px;
      }
      .button:hover .btnText{ /*When hovering over .button change .btnText*/
        margin-left : 60px;
      }


  }